@charset "utf-8";

.page-wrapper {
	max-width: 100%;
	overflow: hidden;
	background-color: #F6F6F6;

	&.gray-background {
		background-color: #F6F6F6;
	}
}

.section {
	font-size: 48px;

	&.section--mainview {
		font: $font-mainview;
		color: $color-section-title;
		height: 100vh;
		background: url(../img/bg1.jpg) center center no-repeat;
		background-size: cover;
		padding: 48px;
		@include display-flex;
		@include flex-direction-column-reverse;
		@include align-items-flex-start;
		@include justify-content-space-between;

		.top-banner-title {
			font-size: 40px;
			font-weight: bolder;
			letter-spacing: -2px;

			.subtitle { font-size: 36px; float: right; }

			.subtitle--large {
				background: url(../img/light.png) left top no-repeat, url(../img/light.png) right -20px bottom 40px no-repeat;

				p {text-shadow: 10px 5px black; line-height: 1.2em;}

				.slogan {
					margin-left: 8vw;
					label:nth-child(even) { position: relative; top: 16px; }
					label:nth-child(odd) { position: relative; top: 0; }
					label:last-child { position: relative; top: 16px; }
				}

				@media only screen and (min-width: 768px) {
					font-size: 80px;
					p {text-shadow: 5px 2px black; line-height: 1em;}
				}
			}

			@media only screen and (min-width: 768px) {
				font-size: 80px;
				.subtitle { font-size: 48px; line-height: 1.5em;}
			}
		}

		.top-banner-description {
			font-size: 24px;
			top: 50px;
			left: 0px;
			position: absolute;
			color: black;
			font-weight: 800;

			p { background-color: white; line-height: 2em; margin: 20px 0px; padding: 0px 48px; width: fit-content;}

			@media only screen and (min-width: 768px) {
				top: 20px;
				font-size: 48px;
			}
		}
		
	}
	
	&.section--medal {
		color: $color-section-title;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg2.jpg) no-repeat;
		background-size: cover;
		@include display-flex;
		@include flex-direction-column;
		padding: 80px 40px 40px;

		.section__title {

			h2 {
				font-size: 40px;
				line-height: 1.3em;
				font-weight: bold;
				margin-bottom: 3vh;
				text-align: center;

				@media only screen and (min-width: 768px) {
					font-size: 3.5vw;
				}
			}
		}

		.section__content {
			font-size: 3.5vw;

			.medal-list {
				@include display-flex;
				@include justify-content-flex-start;
				list-style: none;
				@media only screen and (max-width: 768px) {
					@include flex-direction-column;
				}
				
				.item {
					@include display-flex;
					@include align-items-center;
					@include justify-content-center;
					background: url(../img/medal.png) center center no-repeat;
					background-size: 80vw;
					text-align: center;
					width: 100%;
					height: 80vw;
					padding: 50px;
					position: relative;

					@media only screen and (min-width: 768px) {
						background-size: 30vw;
						width: 33.33%;
						height: 30vw;
					}

					.item__content {
						.description {
							font-size: 40px;
							font-weight: bold;
							color: $color-gold;
							padding-left: 20px;
							padding-right: 20px;
							margin-top: 0.5em;
							margin-bottom: 0.5em;

							@media only screen and (min-width: 768px) {
								font-size: 2.2vw;
							}
						}

						.summary {
							font-size: 60px;
							font-weight: 500;

							@media only screen and (min-width: 768px) {
								font-size: 3vw;
							}
						}
					}
				}

			}

		}
	}
	
	&.section--earth {
		color: $color-section-title;
		background: url(../img/bg3.jpg) top 20px center no-repeat;
		background-size: cover;
		@include display-flex;
		@include flex-direction-column;
		
		.section__title {
			text-align: center;

			.img--earth {
				@include display-flex;
				@include justify-content-center;
				margin-top: -3px;

				img { width: 60% }
			}

			h2 {
				font-weight: bold;
				font-size: 5.6vw;
				line-height: 1.26;
				margin-top: 10vw;
				margin-bottom: 7.2vw;
			}
		}

		.section__content {

			.row {
				@include display-flex;
				@include flex-direction-row-reverse;
				@include justify-content-flex-start;
				@include align-items(stretch);
								
				figure {
					width: 40vw;

					img {
						position: relative;
						width: 25vw;
					}
				}

				.title {
					width: 40vw;
					@include display-flex;
					@include align-items-center;

					h4 {
						font-size: 4.98vw;
						line-height: 1.3em;
						font-weight: normal;

						p {
							&.title_1 { text-align: left; }
							&.title_2 { text-align: center; }
							&.title_3 { text-align: right; }
						}
					}
				}

				&.row--2 {
					margin-bottom: 8vh;

					figure img {
						margin-left: 10vw;
					}
					
					.title {
						width: 50vw;
						font-size: 2.32vw;
						font-weight: 700;
						p {line-height: 1.5em;}
					}
				}
			}
		}
	}

	&.section--store {
		color: $color-section-content;
		background: url(../img/bg4.jpg) top 20px center no-repeat;
		background-size: cover;
		@include display-flex;
		@include flex-direction-column;
		margin-top: 1.2vh;
		
		.section__header {

			margin-top: 8vh;

			.title {
				@include display-flex;
				@include justify-content-center;
				@include align-items(stretch);
				margin-bottom: 12vh;

				.title__img {
					z-index: 2;
				}

				.title_back {
					position: relative;
					@include display-flex;
					@include align-items-center;
					@include justify-content-center;
					width: 70%;
					text-align: center;
					margin-left: -30px;
	
					h2 {
						font-weight: bold;
						color: $color-section-title;
						font-size: 2.9vw;
						z-index: 1;
					}

					&::before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: transparent;
						background: linear-gradient(90deg, rgba(139,86,43,1) 0%, rgba(228,168,0,1) 50%, rgba(139,86,43,1) 100%);
						border-image: linear-gradient(90deg, rgba(219,178,99,1) 0%, rgba(249,224,158,1) 50%, rgba(219,178,99,1) 100%) 100% 1;
						border-width: 8px;
						border-style: solid;
						box-sizing: border-box;
					}

					&::after {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 16px;
						width: 100%;
						height: calc(100% - 32px);
						background: transparent;
						border-image: linear-gradient(90deg, rgba(219,178,99,1) 0%, rgba(249,224,158,1) 50%, rgba(219,178,99,1) 100%) 100% 1;
						border-width: 3px;
						border-style: solid;
						box-sizing: border-box;
					}
				}
			}
			
			.subtitle {
				@include display-flex;
				@include flex-direction-row;
				@include justify-content-flex-start;
				@include align-items(stretch);	
				font-family: $font-mainview;
								
				figure {
					width: 35vw;
					margin-left: -4vw;

					img {
						position: relative;
					}
				}

				.subtitle_description {
					width: 60vw;
					@include display-flex;
					@include align-items-center;

					h3 {
						text-align: right;
						font-size: 2.8vw;

						.large {
							font-size: 5.3vw;
							line-height: 1.1em;
							margin-top: 4vh;
						}
					}
				}
			}
		}
		

		.section_content {

			.content-wrapper {

				margin: 3vh 0 10vh 0;

				.header {
					@include display-flex;
					@include justify-content-flex-start;
					@include align-items(stretch);
					position: relative;
					color: $color-section-title;
					background: linear-gradient(90deg, rgba(26,45,96,1) 0%, rgba(27,65,151,1) 50%, rgba(26,45,96,1) 100%);
					font-size: 3.6vw;
					padding: 30px 10vw;

					h3 {
						text-shadow: -1px 1px #bbb;
						span { margin-left: 20px; }
					}

					&::before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 5px;
						width: 100%;
						background: linear-gradient(90deg, rgba(219,178,99,1) 0%, rgba(249,224,158,1) 50%, rgba(219,178,99,1) 100%);
						height: 5px;
					}

					&::after {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						bottom: 5px;
						width: 100%;
						background: linear-gradient(90deg, rgba(219,178,99,1) 0%, rgba(249,224,158,1) 50%, rgba(219,178,99,1) 100%);
						height: 5px;
					}
				}

				&:nth-child(even) { 
					.header {
						@include flex-direction-row-reverse;
						margin: 0 0 0 20vw;
						-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 4% 50%);
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);
					}
				}

				&:nth-child(odd) { 
					.header {
						@include flex-direction-row;
						margin: 0 20vw 0 0;
						-webkit-clip-path: polygon(100% 0%, 5% 50%, 100% 100%, 0 100%, 0 0);
						clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0 0);
					}
				}

				&:first-child { 
					.header {
						@include flex-direction-row;
						background: transparent;
						margin: 0 20vw 0 0;

						h3 {
							text-shadow: -1px 3px #bbb;
						}
							
						&::before { content: none; }
						&::after { content: none; }
					}
				}

				.body {
					@include display-flex;
					@include flex-direction-row-reverse;
					@include justify-content-flex-start;
					@include align-items(stretch);
					padding: 3vw;

					.body_img {
						width: 20vw;
						transform: translateX(5vw);
					}

					.description {
						width: 75vw;
						@include display-flex;
						@include align-items-flex-start;
						@include flex-direction-column;
						margin-top: 10vh;

						.description_img img {
							width: 5vw;
							height: auto;
							position: absolute;
							margin: 0;
							transform: translateY(-90%);
						}

						p {
							font-size: 2.1vw;
							font-weight: normal;

							&.title {
								font-size: 2.6vw;
								font-weight: 500;
								padding-bottom: 10px;
								border-bottom: 2px solid black;
							}

							&.content {
								line-height: 1.3em;
								margin-top: 5vh;
							}
						}
					}
				}

			}		
		}
	}

	&.section--shopinfo {
		height: calc(100vh);
		background: url(../img/bg5.jpg) no-repeat;
		background-size: cover;
		color: $color-section-content;
	}

	&.section--industry {
		height: calc(100vh);
		background: url(../img/bg7.jpg) no-repeat;
		background-size: cover;
		color: $color-section-content;
	}

	&.section--overview {
		background: url(../img/bg7.jpg) repeat;
		background-size: cover;
		color: $color-section-content;
	}

	&.section--qa {
		background: url(../img/bg8.png) repeat;
		background-size: cover;
		color: $color-section-content;
	}

}

.section_link {
	margin: auto;

	> * {
		display: block;
		margin: 1em 0 1em auto;
		@media only screen and (max-width: 768px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.link {
		font-size: 4.3vw;
		width: fit-content;
		padding: 20px 5vw;
		border-radius: 30px;
		background: $color-green1;
		color: $color-white;
		font-weight: bold;
		border: 3px solid white;
		box-shadow: 0px 3px 5px 2px rgba(34, 60, 80, 0.2);

		p {
			text-align: center;
			line-height: 1.5em;

			&.small {
				font-size: 1.9vw;
			}
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 2;
			background: transparent;
			height: 8px;
		}

		&::after {
			border-color: inherit;
		}

		&:hover {
			background: $color-green2;
			color: $color-gray1;
		}

		&.highlighted {
			background: $color-green1;
			color: $color-gray1;green2

			&:hover {
				background: $color-white;
				color: $color-gray3;
			}
		}
	}
}